.item_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 4px;
}
.item_checkbox span {
  color: rgba(var(--clr-secondary), 0.7);
  text-transform: capitalize;
}
.item_checkbox[data-ischecked="excluded"] svg {
  fill: rgba(var(--clr-danger), 0.7);
}
.item_checkbox[data-ischecked="included"] svg {
  fill: rgba(var(--clr-primary), 0.7);
}
