/* 
rgba(var(--clr-primary), 0.2)
*/
.search_comic_input_container {
  background-color: rgba(var(--clr-primary), 0.2);
  display: flex;
  width: 100%;
  font-size: var(--f-sm);
}
.search_comic_input {
  padding-block: var(--s-sm);
  padding-inline-start: var(--s-md);
  font-size: inherit;
  border: 2px solid rgba(var(--clr-primary), 1);
  outline: unset;
  flex: auto;
}
@media only screen and (min-width: 520px) {
  .search_comic_input_container {
    width: fit-content;
  }
}
.search_comic_input_container button {
  background-color: rgba(var(--clr-primary), 1);
  color: rgba(var(--clr-secondary), 1);
  font-weight: 600;
  outline: unset;
  border: unset;
  padding-inline: var(--s-md);
  font-size: inherit;
  cursor: pointer;
}
.search_comic_input_container button:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: rgba(var(--clr-secondary), 1) !important;
}
.search_comic_input_container button:nth-child(3) {
  background-color: rgba(var(--clr-secondary), 1);
  color: white;
  font-size: inherit;
}
