.circle-loading {
  display: flex;
  gap: var(--s-sm);
}
.circle-loading span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(var(--clr-primary), 1);
  animation-name: moveUpDown;

  animation-timing-function: cubic-bezier(0.99, -0.19, 0.32, 1.37);
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(10px);
    opacity: 0;
    background-color: rgba(var(--clr-secondary), 1);
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
    background-color: rgba(var(--clr-primary), 1);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
    background-color: rgba(var(--clr-secondary), 1);
  }
}
