@import url("./keyframes.css");
@import url("./mediaQuery.css");

:root {
  --content-max-width: 1264px;
  --content-set-padding: clamp(1rem, 4vw, var(--s-2lg));
  /* color */
  --clr-primary: 2, 174, 112;
  --clr-secondary: 29, 29, 29;
  --clr-danger: 212, 122, 16;

  /* color-variants */
  --clr-primary-darklight: 0, 129, 82;
  --clr-primary-dark: 0, 78, 50;
  --clr-primary-darkest: 0, 39, 25;

  --clr-primary-lightdark: 0, 216, 138;
  --clr-primary-light: 0, 255, 163;
  --clr-primary-lightest: 55, 255, 183;

  --clr-primary-70: var(--clr-primary), 0.7;
  --clr-primary-50: var(--clr-primary), 0.5;
  --clr-primary-20: var(--clr-primary), 0.2;

  --clr-secondary-light: 54, 54, 54;
  --clr-secondary-dark: 13, 13, 13;

  --clr-secondary-90: var(--clr-secondary), 0.9;
  --clr-secondary-70: var(--clr-secondary), 0.7;
  --clr-secondary-50: var(--clr-secondary), 0.5;
  --clr-secondary-20: var(--clr-secondary), 0.2;
  /* size */
  --max-xl: 70rem;

  /* shadow */
  --shadow-sm: 0px 2px 5px;
  /* font-size */
  --f-xl: 3.25rem;
  --f-lg: 2.5rem;
  --f-2md: 2rem;
  --f-md: 1.5rem;
  --f-2sm: 1.3rem;
  --f-sm: 1rem;
  --f-xs: 0.5rem;

  /* spacing */
  --s-2xl: 3rem;
  --s-xl: 2rem;
  --s-2lg: 1.25rem;
  --s-lg: 1rem;
  --s-md: 0.75rem;
  --s-sm: 0.5rem;
  --s-xs: 0.3rem;

  /* duration */
  --d-quickest: 100ms;
  --d-quick: 200ms;
  --d-fast: 300ms;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
#content-wrapper {
  max-width: var(--content-max-width);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--content-set-padding);
  flex: 1;
}
.greeting {
  display: flex;
  flex-direction: column;
  padding-block: min(10vw, 5rem);
  align-items: center;
  text-align: center;
}
.greeting h1 {
  color: rgba(var(--clr-secondary), 1);
  font-size: clamp(var(--f-xl), 7vw, 4rem);
  line-height: 1.1;
  text-decoration: underline;
}
.greeting p {
  margin-block-start: var(--s-sm);
  color: rgba(var(--clr-primary), 1);
  font-size: clamp(var(--f-sm), 4vw, 2rem);
}
.checkedNotice {
  margin-block: var(--s-xs);
  display: block;
  color: rgba(var(--clr-danger), 1);
}
.center {
  display: grid;
  place-content: center;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.top_green_line {
  border-top: 2px solid rgba(var(--clr-primary), 1);
}
/* homeComic */
.home-comic-container {
  margin-block-start: var(--s-lg);
}
@media (min-width: 768px) {
  .home-comic-container {
    display: flex;
  }
  .home-comic-container .home-comic-nav {
    order: 2;
    flex-direction: column;
    gap: var(--s-md);
    padding: var(--s-2lg);
  }
  .home-comic-nav .wrapper {
    all: unset !important;
  }
  .home-comic-nav .wrapper .home-comic-nav-item {
    opacity: 0.5;
    transition: opacity 1s ease;
  }
  .home-comic-nav .wrapper.active .home-comic-nav-item {
    opacity: 1;
  }
  .home-comic-data-container {
    order: 1;
    flex: 1;
    padding: var(--s-xl) !important;
  }
  .home-comic-data-container .home-comic-data {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* gap: 50px 20px; */
  }
  .home-comic-data-container .home-comic-data figure:hover {
    background-color: rgba(var(--clr-primary-light));
  }
  .home-comic-data-container h2 {
    display: block !important;
    font-size: clamp(var(--f-2sm), 3vw, var(--f-lg));
    color: white;
  }
}
.home-comic-data-container {
  padding: var(--s-xs);
  background-color: rgba(var(--clr-primary));
}
.home-comic-data-container .home-comic-data {
  margin-block-start: var(--s-lg);
}
.home-comic-data {
  padding: 2px;
}
.home-comic-data figure {
  background-color: white;
}
.home-comic-data-container h2 {
  display: none;
}
.home-comic-nav {
  background-color: rgba(var(--clr-secondary), 1);
  padding-block: var(--s-sm);
  padding-inline: var(--s-sm);
  display: flex;
  /* width: fit-content; */
}

/*  */
.home-comic-nav .wrapper {
  display: flex;
  flex: 0;
  min-width: 20px;
  overflow: hidden;
  transition: flex 1s ease;
}
.home-comic-nav .wrapper.active {
  flex: 1;
}
.home-comic-nav .wrapper .home-comic-nav-item {
  opacity: 0.5;
  transition: opacity 1s ease;
}
.home-comic-nav .wrapper.active .home-comic-nav-item {
  opacity: 1;
}
/*  */
.home-comic-nav-item button {
  color: white !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  gap: var(--s-sm);
  white-space: nowrap;
}
.home-comic-nav-item .ellipseBall {
  display: block;
  height: 20px;
  width: 15px;
  border-radius: 40%;
  background-color: rgba(var(--clr-primary-50));
}
/* logomark styles */
.logomark_container {
}
.logomark_container .logomark {
  display: flex;
  align-items: center;
  gap: var(--s-sm);
  width: 13rem;
}
path[aria-label="logo-attr"] {
  fill: rgba(var(--clr-secondary), 1);
}
path[aria-label="logo-main"] {
  fill: rgba(var(--clr-primary), 1);
}
footer .logomark {
  display: flex;
  align-items: center;
  gap: var(--s-sm);
  width: 13rem;
}

/* headerStyle */
header.main_header {
  box-shadow: var(--shadow-sm) rgba(0, 0, 0, 0.2);
}
header.main_header .main-header-wrapper {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-inline: var(--content-set-padding);
  max-width: var(--content-max-width);
}
header.main_header .main-header-wrapper .main_header_nav {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

/* linkBtn Styles */
a[aria-label="navigation-links"] {
  text-decoration: none;
  font-size: var(--f-sm);
  padding-inline: var(--s-sm);
  color: rgba(var(--clr-secondary), 1);
}
a[aria-label="navigation-links"]:hover {
  color: rgba(var(--clr-primary-50)) !important;
}
a[aria-label="navigation-links"][data-active="true"] {
  color: rgba(var(--clr-primary), 1);
}
/* sectionStyle */
.section-wrapper {
  margin-block-start: var(--s-md);
}
h2.section_title {
  font-size: var(--f-lg);
  margin-block-end: var(--s-md);
}

/* search card */
.search-card-container,
.home-comic-data {
  display: grid;
  margin-block-start: var(--s-2xl);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 10px;
}

@media only screen and (min-width: 650px) {
  .search-card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 50px 20px;
  }
}
/* footerStyles */
footer {
  margin-block-start: var(--s-xl);
}

footer .footer-main {
  background-color: rgba(var(--clr-secondary), 1);
  color: white;
}
footer .footer-main .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 55rem;
  margin-inline: auto;
  min-height: 15rem;
}
footer .footer-main .wrapper > div {
  display: grid;
  place-items: center;
}
footer .footer-main path[aria-label="logo-attr"] {
  fill: white !important;
}
footer .footer-main .wrapper a[aria-label="navigation-links"] {
  padding: 0;
}
footer .footer-slogan {
  font-weight: 200;
  font-size: var(--f-sm);
  display: block;
  margin-top: var(--s-md);
}

footer .footer-slogan + a {
  color: white;
  display: block;
  margin-top: var(--s-lg);
  padding: 0;
}
footer .email-offers {
  font-size: var(--f-sm);
  display: block;
  line-height: var(--s-2lg);
  margin-bottom: var(--s-md);
}
footer input {
  outline: none;
  border: none;
  font-size: var(--f-sm);
}
footer .footer-main input[type="email"] {
  padding-inline-start: var(--s-sm);
  padding-block: var(--s-sm);
}
footer .footer-main input[type="submit"] {
  padding-inline: var(--s-sm);
  padding-block: var(--s-sm);

  font-weight: 500;
  color: white;
  background-color: rgba(var(--clr-primary), 1);
}
footer .footer-main input[type="submit"]:hover {
  background-color: rgba(var(--clr-primary-50));
}
footer .footer-main .media_social {
  margin-top: var(--s-lg) !important;
  display: flex;
  align-items: center;
  gap: var(--s-sm);
  justify-content: flex-end;
}

footer .footer-extended {
  background-color: rgba(var(--clr-primary), 1);
  color: white !important;
  padding: var(--s-md);
  text-align: center;
}
footer .footer-extended a,
footer .footer-extended a:hover {
  color: white !important;
}

/* detailComic */
.comic-detail-container {
  margin-block-start: var(--s-xl);
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "cover detail"
    "chapter chapter";
}
.comic-detail-props {
  grid-area: detail;
  padding: var(--s-md);
}
.comic-detail-props h2 {
  font-weight: 800;
  color: rgba(var(--clr-secondary), 1);
  filter: drop-shadow(3px 3px 0px rgba(var(--clr-primary-50)));
  font-size: clamp(var(--f-sm), 10vw, var(--f-lg));
  line-height: clamp(var(--s-xl), 10vw, var(--s-2xl));
}
.comic-detail-props [aria-label="other-title"] {
  font-size: var(--f-sm);
  font-style: italic;
  color: rgba(var(--clr-secondary), 0.7);
  margin-block-start: var(--s-md);
}
.comic-detail-props [aria-label="genres"] {
  font-size: var(--f-sm);
  margin-block-start: var(--s-md);
  font-weight: 600;
  line-height: var(--s-2lg);
  color: rgba(var(--clr-secondary), 1);
  background-color: rgba(var(--clr-primary-20));
  padding: var(--f-xs);
  border-radius: var(--s-sm);
}
.comic-detail-props [aria-label="description"] {
  text-indent: var(--s-sm);
  border-top-color: rgba(var(--clr-primary-70));
  border-top-style: solid;
  font-size: 1.05rem;
  padding-block-start: var(--s-sm);
  margin-block-start: var(--s-md);
}
.comic-detail-props [aria-label="comic-languages"] {
  margin-block-start: var(--s-md);
  font-size: var(--f-2md);
}

.comic-detail-props [aria-label="status"] {
  margin-block-start: var(--s-md);
  display: block;
  font-weight: 800;
  color: rgba(var(--clr-secondary), 1);
}
.comic-detail-props [aria-label="status"] span {
  color: white;
  padding-inline: var(--s-md);
  padding-block: 0.1rem;
  border-radius: var(--f-xs);
  background-color: rgba(var(--clr-primary), 1);
}
.comic-detail-props [aria-label="comic-languages"] span {
  margin-inline-end: var(--s-md);
}
.comic-detail-props [aria-label="suggested-chapter"] {
  margin-block-start: var(--s-lg);
}
.comic-detail-props [aria-label="suggested-chapter"] > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-sm);
  margin-block-start: var(--s-md);
}
.comic-detail-props [aria-label="suggested-chapter"] > span {
  font-size: var(--f-2sm);
  font-weight: 600;
  display: block;
}
.comic-detail-props [aria-label="suggested-chapter"] a {
  background-color: rgba(var(--clr-primary), 1);
  padding-inline: var(--s-md);
  padding-block: var(--s-sm);
  margin-block-start: 0.2rem;
  border-radius: var(--s-sm);
  font-weight: 700;
  color: white;
  display: block;
  animation-name: blink;
  animation-duration: 1s;
}
.comic-detail-props [aria-label="suggested-chapter"] a:hover {
  color: white !important;
  background-color: rgba(var(--clr-secondary), 1);
}
.comic-detail-props [aria-label="suggested-chapter"] > div > div {
  background-color: rgba(var(--clr-primary-20));
  border-radius: var(--s-sm);
  padding-block: var(--s-sm);
  padding-inline: var(--s-md);
}
.comic-detail-cover {
  grid-area: cover;
  display: grid;
  place-items: center;

  padding: var(--s-md);
}
.comic-detail-cover img {
  max-width: 20rem;
  width: 100%;
}
.chapter-container {
  grid-area: chapter;
  border-top-color: rgba(var(--clr-primary), 1);
  border-top-style: solid;
  padding-inline: var(--s-lg);
  padding-block-start: var(--s-lg);
  margin-block-start: var(--s-lg);
}
.chapter-list-wrapper {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-block-start: var(--s-lg);
}
.chapter-container h3 {
  font-size: var(--f-md);
}
#chapter_list {
  max-height: 20rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  position: relative;
  font-weight: 600;
  translate: 0 10px;
}
#chapter_list a {
  min-height: 4rem;
}
#chapter_list a span {
  display: block;
  padding: var(--s-md);
  color: white;
  background-color: rgba(var(--clr-primary), 1);
  box-shadow: 5px 5px 0px rgba(var(--clr-secondary-70)),
    0px 0px 0px 2px rgba(var(--clr-secondary), 1);
  border-radius: var(--s-sm);
  font-size: 1.1rem;
}
#chapter_list a span:hover {
  color: rgba(var(--clr-secondary), 0.5) !important;
  background-color: rgba(var(--clr-primary-20));
}

/* readmanga */
.read-comic-container [aria-label="chapter-info"] {
  padding-block: var(--s-sm);
  background-color: rgba(var(--clr-secondary-20));
}
.read-comic-container [aria-label="chapter-info"] > * {
  margin-left: var(--s-lg);
}
.read-comic-container [aria-label="chapter-info"] > span {
  display: block;
  color: rgba(var(--clr-secondary), 1);
}
.read-comic-container [aria-label="chapter-info"] a {
  display: block;
  margin-block: var(--s-sm);
  color: white;
  background-color: rgba(var(--clr-primary), 1);
  padding-block: 4px;
  width: fit-content;
}
.read-comic-container [aria-label="chapter-info"] a:hover {
  color: white !important;
  background-color: rgba(var(--clr-secondary), 1);
}
.read-comic-container [aria-label="pagination"] {
  padding-block-start: var(--s-md);
  border-top: 2px solid rgba(var(--clr-secondary-50));
}
.read-comic-container [aria-label="pagination"] .single-page-control {
  display: flex;
}
.read-comic-container [aria-label="pagination"][data-pos="end"] {
  margin-block: var(--s-lg);
}
.read-comic-container [aria-label="chapter-select"] {
  font-size: var(--f-2sm);
  color: rgba(var(--clr-secondary-90));
  font-weight: 700;
  margin-block-end: var(--s-sm);
  display: block;
}
[aria-label="main-image-container"] {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
[aria-label="main-image-container"] a {
  flex: 1;
}
[aria-label="pagination-button"] {
  padding: var(--s-md);
  margin-inline: var(--s-sm);
  margin-block-end: var(--s-lg);
  border-radius: var(--s-sm);
  display: block;
  flex: 1;
  text-align: center;

  background-color: rgba(var(--clr-primary-70));
  text-decoration: none;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 0px rgba(var(--clr-primary), 1),
    0px 5px 5px rgba(var(--clr-secondary-50));
}
.readNavFooter {
  margin-block-start: var(--s-2xl);
  font-weight: 700;
}

/* browse */
.browse {
  margin-top: var(--s-md);
}
.browse h2 {
  margin-block-start: var(--s-md);
  margin-block-end: var(--s-sm);
}
h1 {
  font-size: var(--f-lg);
  margin-block-start: var(--s-md);
}

/* checkbox */
.checkbox-container {
  margin-block-start: var(--s-md);
}
.checkbox-container .checkbox-container-title {
  font-size: var(--f-2sm);
  text-transform: capitalize;
  font-weight: 500;
  background-color: rgba(var(--clr-secondary-20));
  padding-inline: var(--s-sm);
  width: fit-content;
}
.checkbox-container[data-layout="main"] > .checkbox-container-title {
  background-color: rgba(var(--clr-primary-20));
  padding-inline: var(--s-sm);
  padding-block: var(--s-sm);
  margin-block-end: var(--s-sm);
  border-radius: var(--s-sm);
  width: auto;
}
.checkbox-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 4px;
}
.checkbox-container[aria-label="genres_checkbox"] > .checkbox-items-container {
  display: flex !important;
  flex-direction: column;
}
.checkbox-container[data-layout="subgenres"] .checkbox-container-title {
  font-size: var(--f-sm);
  text-transform: capitalize;
  font-weight: 300;
  margin-block-end: var(--s-sm);
}

/* searchFilter */
.searchFilter {
  margin-block: var(--s-lg);
}
.searchFilter .searchbox-wrapper {
  display: flex;
  justify-content: space-between;
}
.content-filter-wrapper {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--d-fast);
}

.content-filter-wrapper.show {
  grid-template-rows: 1fr;
}

.advance-search-filter {
  min-height: 0;
}
