:root {
  /* color */
  --clr-primary: 2, 174, 112;
  --clr-secondary: 29, 29, 29;

  /* size */
  --max-xl: 70rem;

  /* font-size */
  --f-xl: 3.25rem;
  --f-lg: 2.5rem;
  --f-md: 1.5rem;
  --f-sm: 1/2rem;
  --f-xs: 0.5rem;

  /* layout */

  /* spacing */
  --s-xl: 2rem;
  --s-2lg: 1.25rem;
  --s-lg: 1rem;
  --s-md: 0.75rem;
  --s-sm: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
#content-wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: var(--s-xl);
}
/* logomark styles */
.logomark_container {
}
.logomark_container .logomark {
  display: flex;
  align-items: center;
  gap: var(--s-sm);
  width: 13rem;
}
path[aria-label="logo-attr"] {
  fill: rgba(var(--clr-secondary), 1);
}
path[aria-label="logo-main"] {
  fill: rgba(var(--clr-primary), 1);
}

/* headerStyle */
header.main_header {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
header.main_header .main_header_nav {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

/* linkBtn Styles */
a[aria-label="navigation-links"] {
  text-decoration: none;
  font-size: var(--f-sm);
  padding-inline: var(--s-sm);
  color: rgba(var(--clr-secondary), 1);
}
a[aria-label="navigation-links"]:hover {
  color: rgba(var(--clr-primary), 0.5) !important;
}
a[aria-label="navigation-links"][data-active="true"] {
  color: rgba(var(--clr-primary), 1);
}
/* sectionStyle */
.section-wrapper {
  margin-block-start: var(--s-md);
}
h2.section_title {
  font-size: var(--f-lg);
  margin-block-end: var(--s-md);
}

/* cardStyles */
.card-container {
  display: flex;
  gap: var(--s-lg);
  overflow-y: scroll;
}
.card-container figure {
  text-align: center;
  display: flex;
  margin-bottom: var(--s-xl);
  flex-direction: column;
  box-shadow: 3px 5px 0px 0px rgba(var(--clr-primary), 0.3),
    6px 10px 0px 0px rgba(var(--clr-secondary), 1),
    9px 15px 10px 0px rgba(var(--clr-secondary), 0.5);
}
.card-container figcaption {
  padding: var(--s-sm);
  display: grid;
  place-items: center;
  flex: 1;
}
.card-container .card-img-wrapper {
  aspect-ratio: 4/6;
  width: 12rem;
  overflow: hidden;
}
.card-container .card-img-wrapper img {
  width: 100%;
  height: 100%;
}
